.container{
    position: relative;
    align-items: center;

}
.stem{
    height: 28vh;
    width:2vw;
    background: black;
    margin: auto;
}

.lights{
    height: 480px;
    width: 15vw;
    background: black;
    margin: auto;
    border-radius: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
    border: solid black;
}

.light{
    height: 120px;
    width:120px;
    position:relative;
    display: flex;
    margin: 30px auto auto auto;
    border-radius: 50%;
}

.red{
    background-color: red;
}

.yellow{

    background-color: yellow;

}

.green{
    background-color: green;
}

.glow{
    box-shadow: 0 0 20px 20px rgb(255, 252, 88);
}

.cycleButtons{
    position: fixed;
    top:28vh;
    left: 60px;
}

.cycleStart{
    font-size: 20px;
    background-color: green;
    border-radius: 20px;
    padding:15px 10px;
    color: white;
}

.cycleStart:hover{
    background-color: gray;
}


.cycleStop{
    font-size: 20px;
    background-color: red;
    border-radius: 20px;
    padding:15px 10px;
    color: white;
    margin-left:10px;
}

.cycleStop:hover{
    background-color: gray;
}
